<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" isd="lastName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="phoneEmail">How should we contact you?</label>
        <select class="form-control" id="phoneEmail" (click)="Onclick()" #inputEle>
          <option>Choose option</option>
          <option *ngFor="let value of name">{{value}}</option>
        </select>
      </div>
    </div>
    
    <div class="col-6" *ngIf="showPhoneNUmber">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber">
      </div>
    </div>

    <div class="col-6" *ngIf="showEmailId">
      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddress">
      </div>
    </div>
  </div>
</div>